<p>
  Name:{{ namefield.value }}
  <input type="text" [formControl]="namefield">
  <button (click)="getNameValue()">Get Value</button>
  <!--  <code>
    <pre>{{namefield |json }}</pre>
  </code>-->
</p>

<p>
  Email:{{ emailfield.value }}
  <input type="email" [formControl]="emailfield">
</p>

<p>
  Phone:{{ phonefield.value }}
  <input type="tel" [formControl]="phonefield">
</p>

<p>
  Color:{{ phonefield.value }}
  <input type="color" [formControl]="colorfield">
</p>

<p>
  Date:{{ phonefield.value }}
  <input type="date" [formControl]="datefield">
</p>

<p>
  Age:{{ phonefield.value }}
  <input type="number" [formControl]="agefield">
</p>

<p>
  Category:{{ categoryfield.value }}
  <select [formControl]="categoryfield">
    <option value="category-1">Category 1</option>
    <option value="category-2">Category 2</option>
    <option value="category-3">Category 3</option>
    <option value="category-4">Category 4</option>
  </select>
</p>

<p>
  Tags:{{ tagfield.value }}
  <select [formControl]="tagfield" multiple>
    <option value="tag-1">Tag 1</option>
    <option value="tag-2">Tag 2</option>
    <option value="tag-3">Tag 3</option>
    <option value="tag-4">Tag 4</option>
  </select>
</p>

<p>
   Agree: {{agreefield.value}}
  <input type="Checkbox" [formControl] = "agreefield">
</p>

<p>
  Gender: {{genderfield.value}}
  <label>
    <input  name="gender" type="radio" value="male" [formControl] = "genderfield">
    Male
  </label>
  <label>
    <input name="gender" type="radio" value="female"  [formControl] = "genderfield">
    Female
  </label>
  <label>
    <input name="gender" type="radio" value="other"  [formControl] = "genderfield">
    other
  </label>
</p>

<p>
  Zone: {{zonefield.value}}
  <label>
    <input  name="zone" type="radio" value="zone-1" [formControl] = "zonefield">
    Zone 1
  </label>
  <label>
    <input name="zone"   type="radio" value="zone-2"  [formControl] = "zonefield">
    Zone 2
  </label>
  <label>
    <input name="zone"  type="radio" value="zone-3"  [formControl] = "zonefield">
    Zone 3
  </label>
</p>









